.container {
	padding: var(--container-padding);
	max-width: var(--max-width);
	margin: 0 auto;
}

.title {
	margin-block-end: 2rem;
}

.products_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 2rem;
	margin: 0 auto;
}
